@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(asasas.png);
	height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
ul{
	position: absolute;
	top: 1%;
	right: 2%;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 30px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
    border-radius: 20px; 
}
ul li.active a{
	background-color: white;
	color: black;
	border: 2px solid #FFF;
	transition: 0.6s ease;
    border-radius: 20px; 
}
ul li.active a:hover{
	border: 2px solid #FFF;
	background-color:black;
    border-radius: 50px; 
	color: white;
}
.main{
	max-width:1200px;
	margin: auto;
}
.home_title1{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.home_title1 h1{
	color: #fff;
	font-size:70px;
}

.title2{
	position: absolute;
	top: 20%;
	left: 25%;
	transform: translate(-18%,-50%);
	text-align: center;
}
.title2 h1{
	color: #fff;
	font-size:70px;
	text-align: center;
	margin-bottom: 20px
}
.title2 p1{
	position: relative;
	color: #fff;
	font-size:20px;
	padding: 0.5px;
    background-color: rgba(37, 37, 37, 0.5);
	text-align: center;
}
.title2 h2{
	position: absolute;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size:70px;
	text-align: center;
	margin-bottom: 20px
}
.title2 p2{
	position: relative;
	color: #fff;
	font-size:20px;
	padding: 0.5px;
    background-color: rgba(37, 37, 37, 0.5);
	text-align: center;
}
.title3{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title3 h1{
	color: #fff;
	font-size:70px;
}
.logo{
	position: absolute;
	top: 6%;
	left: 15%;
	transform: translate(-50%,-50%);
	color: #FFFFFF;
	padding: 10px 30px;
	font-size: 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 1px 20px 1px rgba(255, 255, 255, 0.178);
	overflow: hidden;
}

.about_notification1 {
	top: 15%;
	left: 5%;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 78rem;
	height: 15rem;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 24px;
	--gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
	--color: #32a6ff
  }
  
  .about_notification1:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2
  }
  
  .about_notification1:after {
	position: absolute;
	content: "";
	width: 0.25rem;
	inset: 0.65rem auto 0.65rem 0.5rem;
	border-radius: 0.125rem;
	background: var(--gradient);
	transition: transform 300ms ease;
	z-index: 4;
  }
  
  .about_title1 {
	color: var(--color);
	padding: 0.65rem 0.25rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 2.1rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  
  .about_body1 {
	color: #c6c6cc;
	padding: 0 1.25rem;
	transition: transform 300ms ease;
	z-index: 5;
  }

  .about_notification2 {
	top: 17%;
	left: 30%;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 78rem;
	height: 15rem;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 24px;
	--gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
	--color: #32a6ff
  }
  
  .about_notification2:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2
  }
  
  .about_notification2:after {
	position: absolute;
	content: "";
	width: 0.25rem;
	inset: 0.65rem auto 0.65rem 0.5rem;
	border-radius: 0.125rem;
	background: var(--gradient);
	transition: transform 300ms ease;
	z-index: 4;
  }
  
  
  .about_title2 {
	color: var(--color);
	padding: 0.65rem 1.5rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 2.1rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  
  .about_body2 {
	color: #c6c6cc;
	padding: 0 1.25rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  .about_notification3 {
	top: 20%;
	left: 5%;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 78rem;
	height: 15rem;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 24px;
	--gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
	--color: #32a6ff
  }
  
  .about_notification3:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2
  }
  
  .about_notification3:after {
	position: absolute;
	content: "";
	width: 0.25rem;
	inset: 0.65rem auto 0.65rem 0.5rem;
	border-radius: 0.125rem;
	background: var(--gradient);
	transition: transform 300ms ease;
	z-index: 4;
  }
  
  
  .about_title3 {
	color: var(--color);
	padding: 0.65rem 0.25rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 2.1rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  .about_body3 {
	color: #c6c6cc;
	padding: 0 1.25rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  
  .about_card1 {
	position: absolute;
	top: 12%;
	right: 7%;
	width: 390px;
	height: 254px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  }
  
  .about_card__content1 {
    background-image: url('GroupPic.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
  background-position: center calc(100% - -35px);
	border-radius: 17px;
	width: 100%;
	height: 100%;
  }
  
  .about_card2 {
	position: absolute;
	top: 41.5%;
	left: 7%;
	width: 390px;
	height: 254px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  }
  
  .about_card__content2 {
    background-image: url('asasas.png');
	background-size: 180%;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 17px;
	width: 100%;
	height: 100%;
  }
  .about_card3 {
	position: absolute;
	bottom: 2%;
	right: 7%;
  width: 390px;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.about_card__content3 {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}

.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
}

.product-container {
    background-color: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(2px);
    border-radius: 50px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    
}

.product-image {
    text-align: center;
    margin-bottom: 20px;
    
}

.product-image img {
	left: 40%;
    max-width: 300px;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
}

.product-next-button {
    background-color: #32a6ff;
	color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.product-next-button:hover {
	color: #32a6ff;
    background-color: #ffffff;
    font-weight: bold;
}
.product-prev-button {
    background-color: #32a6ff;
	color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.product-prev-button:hover {
	color: #32a6ff;
    background-color: #ffffff;
    font-weight: bold;
}

.product-description {
    text-align: center;
}

.product-h2 {
    font-size: 17px;
    color: #fff6f6; 
    margin-bottom: 10px;
}

.product-p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    text-align:center;
}
  .contact_card {
	display: flex;
	top: 15%;
	left: 29%;
	align-items: center;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 48rem;
	height: 25rem;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
	--color: #32a6ff
  }
  
  .contact_card:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2
  }
  .contact-notititle1 {
	color: #fff;
	padding: 0.65rem 0.25rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 2.1rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  .contact-notititle {
	color: var(--color);
	padding: 0.65rem 0.25rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 1.5rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  .contact-notibody {
	color: #99999d;
	padding: 0 1.25rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
   