@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(asasas.png);
	height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
ul{
	position: absolute;
	top: 1%;
	right: 2%;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 30px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: transparent;
	color: #fff;
	border: 2px solid #FFF;
}
ul li.active a:hover{
	background-color: transparent;
	color: #000;
}
.main{
	max-width:1200px;
	margin: auto;
}
.home_title1{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.home_title1 h1{
	color: #fff;
	font-size:70px;
}

.title2{
	position: absolute;
	top: 20%;
	left: 25%;
	transform: translate(-18%,-50%);
	text-align: center;
}
.title2 h1{
	color: #fff;
	font-size:70px;
	text-align: center;
	margin-bottom: 20px
}
.title2 p1{
	position: relative;
	color: #fff;
	font-size:20px;
	padding: 0.5px;
    background-color: rgba(37, 37, 37, 0.5);
	text-align: center;
}
.title2 h2{
	position: absolute;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size:70px;
	text-align: center;
	margin-bottom: 20px
}
.title2 p2{
	position: relative;
	color: #fff;
	font-size:20px;
	padding: 0.5px;
    background-color: rgba(37, 37, 37, 0.5);
	text-align: center;
}
.title3{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title3 h1{
	color: #fff;
	font-size:70px;
}
.logo{
	position: absolute;
	top: 6%;
	left: 15%;
	transform: translate(-50%,-50%);
	color: #FFFFFF;
	padding: 10px 30px;
	font-size: 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 1px 20px 1px rgba(255, 255, 255, 0.178);
	overflow: hidden;
}

.about_notification1 {
	top: 15%;
	left: 5%;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 78rem;
	height: 15rem;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 24px;
	--gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
	--color: #32a6ff
  }
  
  .about_notification1:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2
  }
  
  .about_notification1:after {
	position: absolute;
	content: "";
	width: 0.25rem;
	inset: 0.65rem auto 0.65rem 0.5rem;
	border-radius: 0.125rem;
	background: var(--gradient);
	transition: transform 300ms ease;
	z-index: 4;
  }
  
  .about_title1 {
	color: var(--color);
	padding: 0.65rem 0.25rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 2.1rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  
  .about_body1 {
	color: #c6c6cc;
	padding: 0 1.25rem;
	transition: transform 300ms ease;
	z-index: 5;
  }

  .about_notification2 {
	top: 17%;
	left: 30%;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 78rem;
	height: 15rem;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 24px;
	--gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
	--color: #32a6ff
  }
  
  .about_notification2:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2
  }
  
  .about_notification2:after {
	position: absolute;
	content: "";
	width: 0.25rem;
	inset: 0.65rem auto 0.65rem 0.5rem;
	border-radius: 0.125rem;
	background: var(--gradient);
	transition: transform 300ms ease;
	z-index: 4;
  }
  
  
  .about_title2 {
	color: var(--color);
	padding: 0.65rem 1.5rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 2.1rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  
  .about_body2 {
	color: #c6c6cc;
	padding: 0 1.25rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  .about_notification3 {
	top: 20%;
	left: 5%;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 78rem;
	height: 15rem;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 24px;
	--gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
	--color: #32a6ff
  }
  
  .about_notification3:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2
  }
  
  .about_notification3:after {
	position: absolute;
	content: "";
	width: 0.25rem;
	inset: 0.65rem auto 0.65rem 0.5rem;
	border-radius: 0.125rem;
	background: var(--gradient);
	transition: transform 300ms ease;
	z-index: 4;
  }
  
  
  .about_title3 {
	color: var(--color);
	padding: 0.65rem 0.25rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 2.1rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  .about_body3 {
	color: #c6c6cc;
	padding: 0 1.25rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  
  .about_card1 {
	position: absolute;
	top: 12%;
	right: 7%;
	width: 390px;
	height: 254px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  }
  
  .about_card__content1 {
    background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/448353719_1165265207931676_3895924895122561658_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHYKWtnFd_Cbz2CsFlCpEEeBogtndS7BK4GiC2d1LsErjz0bcn2Bj-U94CbSpgkkXwnPbx8NKl4pafVTwRHXbF-&_nc_ohc=3uO6IVjzekoQ7kNvgGxrFG4&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QFHja7GMUYmPyXaZqYbbboeS5YnNgxcklcNbgKT6FlSWA&oe=6696AF37');
	background-size: 100%;
	background-repeat: no-repeat;
  background-position: center calc(100% - -35px);
	border-radius: 17px;
	width: 100%;
	height: 100%;
  }
  
  .about_card2 {
	position: absolute;
	top: 42.5%;
	left: 7%;
	width: 390px;
	height: 254px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  }
  
  .about_card__content2 {
    background-image: url('asasas.png');
	background-size: 180%;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 17px;
	width: 100%;
	height: 100%;
  }
  .about_card3 {
	position: absolute;
	bottom: 1%;
	right: 7%;
  width: 390px;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.about_card__content3 {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}

.product_notification1 {
	top: 10%;
	left: 6%;
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 108rem;
	height: 68rem;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
	--gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
	--color: #32a6ff
  }
  
  .product_notification1:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2
  }
  
  .product_notititle1 {
	color: #ffffff;
	padding: 0.65rem 0.25rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 2.1rem;
	transition: transform 300ms ease;
	z-index: 5;
	display: flex;
	justify-content: center; 
	align-items: center;
  }
  
  .product_notibody1 {
	color: #d3d3d3;
	padding: 0 1.25rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  .product_notibody1 b{
	font-size: 1.3rem;
	color: #ffffff;
  }
  
  .product_notibody1 p{
	color: #d3d3d3;
  }
  .contact_card {
	display: flex;
	top: 5%;
	left: 32%;
	align-items: center;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 38rem;
	height: 38rem;
	background: #29292c;
	border-radius: 1rem;
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
	--color: #32a6ff
  }
  
  .contact_card:before {
	position: absolute;
	content: "";
	inset: 0.0625rem;
	border-radius: 0.9375rem;
	background: #18181b;
	z-index: 2
  }
  .notititle1 {
	color: #fff;
	padding: 0.65rem 0.25rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 2.1rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  .notititle {
	color: var(--color);
	padding: 0.65rem 0.25rem 0.4rem 1.25rem;
	font-weight: 500;
	font-size: 1.5rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  .notibody {
	color: #99999d;
	padding: 0 1.25rem;
	transition: transform 300ms ease;
	z-index: 5;
  }
  
  